<main class="login-form">
  <div class="container-fluid">
    <div fxLayout="row"
         fxLayoutAlign="center center">
      <mat-card class="card"
                fxLayout="column"
                fxLayoutAlign="center center"
                fxFlex="500px">
        <mat-card-title fxLayout="row"
                        fxLayoutAlign="center">Login</mat-card-title>
        <mat-card-content class="card-body">

          <form (ngSubmit)="onSubmit(loginForm)"
                #loginForm="ngForm"
                ngNativeValidate>
            <div class="form-group row">
              <div>
                <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input matInput
                         name="username"
                         required
                         [(ngModel)]="username"
                         #memberName="ngModel"
                         placeholder="Enter Your Username">
                  <!-- <mat-error">Username is required</mat-error> -->
                </mat-form-field>
              </div>
            </div>

            <div class="form-group row">
              <div>
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput
                         type="password"
                         name="password"
                         required
                         [(ngModel)]="password"
                         #pwd="ngModel"
                         placeholder="Enter Your Password">
                </mat-form-field>
              </div>
            </div>

            <div class="form-group row">
              <div>
                <div class="checkbox">
                  <mat-checkbox id="remember"
                                name="remember"> Remember Me</mat-checkbox>
                </div>
              </div>
            </div>

            <div class="form-group row"
                 fxLayoutAlign="center">
              <button mat-raised-button
                      class="login-btn"
                      type="submit"
                      color="primary">
                Login
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>